{% extends "../base/layout.twig" %}
{% set title = 'modal' %}

{% block header %}
{% endblock %}

{% block main %}

  <div class="modal modal--thanks">
    <div class="modal__wrap">
      <div class="modal-form modal-form--thanks">
        <h2>спасибо за оплату!</h2>
        <button class="btn btn--invert modal-form__btn" type="button">закрыть</button>
      </div>
    </div>
  </div>

{% endblock %}


{% block footer %}
{% endblock %}
