{% extends "../base/layout.twig" %}
{% set title = 'Категории cinema' %}
{% set pages = [
  {
    name: 'Главная',
    href: 'index.html'
  },
  {
    name: 'Категории',
    href: 'category.html'
  }
] %}


{% block main %}
  <h1 class="visually-hidden">Категории фильмов</h1>

  {% embed '../components/main_category.twig' %}
    {% block nav %}
{#      {% include '../components/search-component.twig' with pages %}#}
      {% embed '../components/search-component.twig' with pages %}
        {% block search %}
        {% endblock %}
      {% endembed %}
      {% include '../components/category_list.twig' %}
    {% endblock %}
  {% endembed %}

{% endblock %}

  {% block parallax %}
    {{ parent() }}
    <img class="blob-parallax" id="square-3" src="img/svg/square-3.svg" alt="квадрат" width="625" height="625">
    <img class="blob-parallax" id="square-4" src="img/svg/square-4.svg" alt="квадрат" width="470" height="470">
  {% endblock %}
