<div class="blob-container">
  <img class="blob-parallax" id="square-1" src="img/svg/square-1.svg" alt="квадрат" width="525" height="525">
  <img class="blob-parallax" id="square-2" src="img/svg/square-2.svg" alt="квадрат" width="625" height="625">
</div>
